body{
    background-color: #6f94c6;
}
h1{
    background-color: deeppink;
}
.botao{
    background-color: black;
    color: white;
    font-size: 30px;
    height: 50px;
    width: 150px;
    border: 10px solid red;
}