{% extends 'menu.html' %}
{% load static %}
{% block title %}Cadastrar Médico{% endblock %}
{% block body %}
<br>
<div class="container">
    <div class="input-group mb-3">
        <span class="input-group-text" id="addonName">Nome</span>
        <input type="text" class="form-control" placeholder="Nome Completo" aria-label="Nome Completo" aria-describedby="addonName">
    </div>

    <div class="row">
        <div class="col-3">
            <div class="input-group mb-3">
                <span class="input-group-text" id="addonRG">RG</span>
                <input type="text" class="form-control" placeholder="RG" aria-label="RG" aria-describedby="addonRG">
            </div>
        </div>
        <div class="col-3">
            <div class="input-group mb-3">
                <span class="input-group-text" id="addonEXP">Orgão Exp</span>
                <input type="text" class="form-control" placeholder="Orgão Exp" aria-label="Orgão Exp" aria-describedby="addonEXP">
            </div>
        </div>
        <div class="col-6">
            <div class="input-group mb-3">
                <span class="input-group-text" id="addonCPF">CPF</span>
                <input type="text" class="form-control" placeholder="CPF" aria-label="CPF" aria-describedby="addonCPF">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="addonCEP">CEP</span>
                <input type="text" class="form-control" placeholder="CEP" aria-label="CEP" aria-describedby="addonCEP">
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="addonEstado">Estado</span>
                <input type="text" class="form-control" placeholder="Estado" aria-label="Estado" aria-describedby="addonEstado">
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="addonBairro">Bairro</span>
                <input type="text" class="form-control" placeholder="Bairro" aria-label="Bairro" aria-describedby="addonBairro">
            </div>
        </div>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="addonAdd">Endereço</span>
        <input type="text" class="form-control" placeholder="Endereço" aria-label="Endereço" aria-describedby="addonAdd">
    </div>


    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="E-mail" aria-label="E-mail" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2">@example.com</span>
    </div>

    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="addonFone">Telefone</span>
                <input type="text" class="form-control" placeholder="Telefone" aria-label="Telefone" aria-describedby="addonFone">
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="addonCel">Celular</span>
                <input type="text" class="form-control" placeholder="Celular" aria-label="Celular" aria-describedby="addonCel">
            </div>
        </div>
    </div>

    <br>
    <button type="button" class="btn btn-warning">Cadastrar</button>
    <button type="button" class="btn btn-danger">Limpar</button>
</div>
<br>
{% endblock %}