{% extends 'menu.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block body %}
<h1>Hello World</h1>
<br>
<p class="botao">Salvar</p>
<br>
<p style="color: greenyellow; background-color: darkorchid; height: 60px; width: 150px; font-size: 50px;">Limpar</p>
<h2 class="texto">ashdadhkjshdjkas daskdhajkshd kashdkj ashdkas dkahsk dkjsa dkjahsdkj ahskjd askjhdkashkdhaskhdkjas</h2>
<style>
    .texto{
        color: #570808;
        background-color: white;
    }
</style>
{% endblock %}